In [1]:
# Mean
age=[12,3,4,6,4,5,45,6,65]

In [3]:
import numpy as np
round(np.mean(age),2)

16.67

In [5]:
import seaborn as sns
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
np.mean(df['total_bill'])

19.78594262295082

In [8]:
round(np.median(age),2)

6.0

In [10]:
np.mean(age)

16.666666666666668

In [11]:
from scipy import stats
stats.mode(age)

ModeResult(mode=4, count=2)